@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=cyrillic');

body {
    font-family: 'Open Sans', sans-serif;
    background: rgba(147, 206, 222, 1);
    background: linear-gradient(135deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 52%, rgba(73, 165, 191, 1) 100%);
}

.container {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background: rgba(229, 106, 99, 1);
    z-index: 10;
    transition: background-image 1s ease-in-out;
    transition-delay: .3s;
}

.form-wrapper {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__header {
    color: #fbdfe1;
    font-size: 48px;
    font-weight: 300;
}

.form__input {
    background: none;
    outline-offset: 0;
    outline: none;
    border: none;
    font-size: 48px;
    color: #76c4be;
    /*color: #b84c46;*/
    margin-bottom: 55px;
}

.form__input.form__input_error::placeholder {
    color: #fbdfe1;
}

.form__file {
    font-size: 1em;
    color: white;
    background-color: #76c4be;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    margin: 0 auto 20px auto;
    padding: 11px 10px 9px 10px;
    text-align: center;
    box-sizing: border-box;
}

.form__file .fa{
    margin-right: 10px;
}

.form__file:focus,
.form__file:hover {
    background-color: #70b9b3;
}

.form__file:focus {
    outline: none;
}

.form__btn {
    font-size: 1em;
    color: white;
    background-color: #76c4be;
    display: inline-block;
    cursor: pointer;
    margin: 0 auto 20px auto;
    padding: 10px 25px;
    text-align: center;
    box-sizing: border-box;
    border: none;
}

.form__btn:focus {
    outline: none;
}
.form__btn:focus,
.form__btn:hover {
    background-color: #70b9b3;
}

.image {
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    z-index: 9;
}

.logo {
    height: 80px;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: auto;
}

.logo__image {
    height: 100%;
    filter: grayscale(100%) invert(40%);
}

.note {
    padding: 0 20px;
    margin-bottom: 70px;
    margin-top: auto;
    color: #fbdfe1;
    font-size: 14px;
    text-align: center;
}

.note__copy a {
    color: #f7cdce;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.note__line {
    border-bottom: solid 1px #f7cdce;
    padding: 0 40px;
    margin: 0 auto 10px auto;
    width: 20px;
}

.result {
    width: 640px;
    margin: 0 auto;
}


.result__image {
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width: 414px) {
    .note {
        font-size: 12px;
    }
    .form__header, .form__input {
        font-size: 26px;
    }

    .form__file {
        width: 100%;
    }

    .form__btn {
        width: 100%;
    }

    .result {
        width: 320px;
    }

}


@media screen and (min-width: 415px) {
    .note {
        width: 640px;
    }

}