@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=cyrillic');

body {
    font-family: 'Open Sans', sans-serif;
    background: rgba(147, 206, 222, 1);
    background: linear-gradient(135deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 52%, rgba(73, 165, 191, 1) 100%);
}


.form-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #e56a63;
    /*background: rgba(147,206,222,1);*/
    /*background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 52%, rgba(73,165,191,1) 100%);*/
}

.form {
    display: flex;
    flex-direction: column;
}

.form__header {
    color: #fbdfe1;
    font-size: 48px;
    font-weight: 300;
}

.form__input {
    background: none;
    outline-offset: 0;
    outline: none;
    border: none;
    font-size: 48px;
    color: #76c4be;
    /*color: #b84c46;*/
    margin-bottom: 55px;
}

.form__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form__file-label {
    font-size: 1em;
    color: white;
    background-color: #76c4be;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    margin: 0 auto 20px auto;
    padding: 11px 10px 9px 10px;
    text-align: center;
    box-sizing: border-box;
}

.form__file-label .fa{
    margin-right: 10px;
}

.form__file:focus + .form__file-label,
.form__file + .form__file-label:hover {
    background-color: #70b9b3;
}

.form__file:focus + .form__file-label {
    outline: none;
}

.form__btn {

}


@media screen and (max-width: 414px) {
    .form__header, .form__input {
        font-size: 26px;
    }

    .form__file-label {
        width: 100%;
    }


}